<font size="+5">#04 | Many Paths to Rome with Data Visualization</font>

- Subscribe to my [Blog â†—](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn â†—](www.linkedin.com/in/jsulopz) ðŸ˜„

# Discipline to Search Solutions in Google

> Apply the following steps when **looking for solutions in Google**:
>
> 1. **Necesity**: How to load an Excel in Python?
> 2. **Search in Google**: by keywords
>   - `load excel python`
>   - ~~how to load excel in python~~
> 3. **Solution**: What's the `function()` that loads an Excel in Python?
>   - A Function to Programming is what the Atom to Phisics.
>   - Every time you want to do something in programming
>   - **You will need a `function()`** to make it
>   - Theferore, you must **detect parenthesis `()`**
>   - Out of all the words that you see in a website
>   - Because they indicate the presence of a `function()`.

# Load the Data

> - Download [this Excel](https://github.com/sotastica/data/raw/main/internet_usage_spain.xlsx).
> - Apply the above discipline and make it happen ðŸš€
> - I want to see the table, c'mon ðŸ‘‡

In [3]:
import pandas as pd

df = pd.read_excel('internet_usage_spain.xlsx', sheet_name=1)
df.head()

        name  internet_usage     sex  age   education  weight
0   Josefina               0  Female   66  Elementary      81
1      Vicki               1    Male   72  Elementary      78
2      David               1    Male   48  University      69
3     Curtis               0    Male   59         PhD     107
4  Josephine               1  Female   44         PhD      80

# `DataFrame` Manipulation

> Could we solve the following questions with a `DataFrame` **object**?

## How many people are in each study category?

> 1. Check where is the `study category`
> 2. Probably in the DataFrame `df`
> 3. Show **just** this column

> - Apply the `intuition` and check if there is some `function()`
> - **within the object**

> - **Create a `plot` to represent the previous result**

> - [ ] Now do it with a `DataFrame`

> - [ ] Which way you'd rather prefer?

## Average weight by sex

> - [ ] Can we apply `get_group()` to `df`?

> - Why not?
> - It isn't a ...

> - It is a simple ...

> - Let's not miss the point!
> - We need to compute the average `weight` by each gender â†“

> - [ ] Altogether

> - **Create a `plot` to represent the previous result**

## Weight average by internet usage and sex

> - **Create a `plot` to represent the previous result**

# Data Visualization with Python

## Load Another Dataset

> We load this [csv file](https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv).
> Â¿What does it mean `csv`?
> Â¿Why don't we use an `Excel` to better see the data?

## Scatterplot

### With `Matplotlib` library

> Scatterplot

### With `Seaborn` library

> Scatterplot

### With `Plotly` library

> Scatterplot

## Other Data Visualization Figures

### Histogram

### Boxplot

### Bar Chart

### Pie Plot

### Maps