# Discipline & Hacks

## Discipline for Intuition

1. Identify the **problem/error**
2. Which `object` do you have **to start with**?
3. Look for the `function()` that may solve your problem
    1. Within the `object.↹`
    2. Within the `library.↹`
    3. `Built-in` from Python (rarely)
4. Apply `deduction` with the **autocompletion** to find the `function()`
5. Ask Python `shift + ↹` **how to use the function**
    1. **Signature** for required parameters
    2. **Docstring** to understand what the function does
    3. **Parameters** to know the objects you may use
    4. **Return** to see what the function will output
    5. **Examples**

## Discipline to `Copy & Paste Solutions` from Google

Apply the following steps when **looking for solutions in Google**:

1. **Necesity**: How to load an Excel in Python?
2. **Search in Google**: by keywords
    - `load excel python`
    - ~~how to load excel in python~~
3. **Solution**: What's the `function()` that loads an Excel in Python?
    - A Function to Programming is what the Atom to Phisics.
    - Every time you want to do something in programming
    - **You will need a `function()`** to make it
    - Theferore, you must **detect parenthesis `()`**
    - Out of all the words that you see in a website
    - Because they indicate the presence of a `function()`

## Hacks for the Jupyter Notebook on Mac

| name   | key   |
|:-------|:------|
| shift  | ⇧     |
| return | ↵     |
| ctrl   | ⌃     |
| cmd    | ⌘     |
| alt    | ⌥     |

- Execute a Cell: `ctrl` + `enter`

[gif]

- Execute a Cell & Jump to Next: `shift` + `enter`

[gif]

- **Execute a Cell & Create Next: `alt` + `enter`**

[gif]

### Command Mode

[gif]

- **Cut a Cell: `X`**

[gif]

- Keep Selecting Cells Upwards: `shift` + `↑`

[gif]

- **Keep Selecting Cells Downwards: `shift` + `↓`**

[gif]

- Delete Cells: `D` + `D`

[gif]

- Command Palette: `cmd` + `shift` + `C`

## Hacks for the Jupyter Notebook on Windows

## Code Syntax

**What happens inside the computer when we run the code?**

> In which order Python reads the line of code?
> - From left to right.
> - From up to down.
> Which elements are being used in the previous line of code?

1. `libreria`
2. `.` **DOT NOTATION** para acceder a las funcionalidades de la libreria
3. `funcion()`
4. pasamos `objetos` a los `argumentos`
    - pasamos el `str` "internet_usage_spain.xlsx" al argumento `io`
    - pasamos el `int` al argumento `sheet_name`
5. ejecutamos
6. magia borras
7. la funcion nos devuelve un `objeto`

In [11]:
pd.read_excel(io = 'internet_usage_spain.xlsx', sheet_name=1)

           name  internet_usage     sex  age    education  weight
0      Josefina               0  Female   66   Elementary      81
1         Vicki               1    Male   72   Elementary      78
2         David               1    Male   48   University      69
3        Curtis               0    Male   59          PhD     107
4     Josephine               1  Female   44          PhD      80
...         ...             ...     ...  ...          ...     ...
2450    Frances               1    Male   43   Elementary      94
2451      Harry               1  Female   18  High School      70
2452       Adam               0  Female   54   Elementary      60
2453  Christine               1    Male   31  High School      89
2454   Kimberly               0    Male   52   Elementary      88

[2455 rows x 6 columns]

## The Elements of Programming

> - `Module`: where the code of functions are stored.
>   - `Function`: execute several lines of code with one `word()`.
>       - `Parameter`: to **configure** the function's behaviour.
>           - `Instance`: **data structure** that stores information.

In [2]:
a = '''shift ⇧
return ↵
ctrl ⌃
cmd ⌘
alt ⌥
'''

In [5]:
import pandas as pd

In [9]:
print(pd.DataFrame([i.split() for i in a.splitlines()], columns=['name', 'key']).to_markdown())

|    | name   | key   |
|---:|:-------|:------|
|  0 | shift  | ⇧     |
|  1 | return | ↵     |
|  2 | ctrl   | ⌃     |
|  3 | cmd    | ⌘     |
|  4 | alt    | ⌥     |