In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(filepath_or_buffer='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t').iloc[:100,:]

In [3]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
dfsel = df[df['order_id'] == 1]

In [5]:
n_pedidos = dfsel.shape[0]

In [6]:
dfsel

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39

In [7]:
dfsel = df[df['order_id'] == 2]

In [8]:
n_pedidos = dfsel.shape[0]

In [9]:
dfsel

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [10]:
dfsel = df[df['order_id'] == 3]

In [11]:
n_pedidos = dfsel.shape[0]

In [12]:
dfsel

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69

In [13]:
dic_pedidos = {}

In [14]:
dfsel = df[df['order_id'] == 1]

In [15]:
n_pedidos = dfsel.shape[0]

In [16]:
dfsel

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39

In [17]:
dic_pedidos[1] = n_pedidos

In [18]:
dic_pedidos

{1: 4}

In [19]:
dfsel = df[df['order_id'] == 2]

In [20]:
n_pedidos = dfsel.shape[0]

In [21]:
dfsel

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [22]:
dic_pedidos[2] = n_pedidos

In [23]:
dic_pedidos

{1: 4, 2: 1}

In [24]:
dfsel = df[df['order_id'] == 3]

In [25]:
n_pedidos = dfsel.shape[0]

In [26]:
dfsel

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69

In [27]:
dic_pedidos[3] = n_pedidos

In [28]:
dic_pedidos

{1: 4, 2: 1, 3: 2}

In [29]:
dic_pedidos = {}

In [30]:
dfsel = df[df['order_id'] == 3]

n_pedidos = dfsel.shape[0]

dfsel

dic_pedidos[3] = n_pedidos

dic_pedidos

{3: 2}

In [31]:
dic_pedidos = {}

In [32]:
dfsel = df[df['order_id'] == pepa]

n_pedidos = dfsel.shape[0]

dfsel

dic_pedidos[pepa] = n_pedidos

dic_pedidos

NameError: name 'pepa' is not defined

In [33]:
dic_pedidos = {}

In [34]:
for pepa in [1,2,3]:
    dfsel = df[df['order_id'] == pepa]

    n_pedidos = dfsel.shape[0]

    dfsel

    dic_pedidos[pepa] = n_pedidos

    dic_pedidos

In [35]:
dic_pedidos

{1: 4, 2: 1, 3: 2}

In [36]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
95,42,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
96,42,1,Chips and Guacamole,NaN,$4.45
97,43,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.75
98,43,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
99,44,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$8.75

In [37]:
df.order_id

0      1
1      1
2      1
3      1
4      2
      ..
95    42
96    42
97    43
98    43
99    44
Name: order_id, Length: 100, dtype: int64

In [38]:
pedidos = df.order_id.unique()

In [39]:
dic_pedidos = {}

In [40]:
for pepa in pedidos:
    dfsel = df[df['order_id'] == pepa]

    n_pedidos = dfsel.shape[0]

    dfsel

    dic_pedidos[pepa] = n_pedidos

    dic_pedidos

In [41]:
dic_pedidos

{1: 4,
 2: 1,
 3: 2,
 4: 2,
 5: 2,
 6: 2,
 7: 2,
 8: 2,
 9: 2,
 10: 2,
 11: 2,
 12: 2,
 13: 2,
 14: 2,
 15: 2,
 16: 2,
 17: 2,
 18: 4,
 19: 2,
 20: 4,
 21: 3,
 22: 2,
 23: 2,
 24: 2,
 25: 2,
 26: 2,
 27: 2,
 28: 4,
 29: 2,
 30: 3,
 31: 2,
 32: 2,
 33: 2,
 34: 4,
 35: 2,
 36: 2,
 37: 2,
 38: 3,
 39: 2,
 40: 3,
 41: 2,
 42: 2,
 43: 2,
 44: 1}

In [42]:
pd.Series(dic_pedidos)

1     4
2     1
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
18    4
19    2
20    4
21    3
22    2
23    2
24    2
25    2
26    2
27    2
28    4
29    2
30    3
31    2
32    2
33    2
34    4
35    2
36    2
37    2
38    3
39    2
40    3
41    2
42    2
43    2
44    1
dtype: int64

In [43]:
df.order_id.value_counts()

1     4
18    4
20    4
28    4
34    4
40    3
30    3
38    3
21    3
27    2
43    2
42    2
41    2
29    2
31    2
39    2
32    2
33    2
25    2
35    2
36    2
37    2
26    2
23    2
24    2
10    2
3     2
4     2
5     2
6     2
7     2
8     2
9     2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
19    2
22    2
2     1
44    1
Name: order_id, dtype: int64

In [44]:
df.order_id.value_counts(sort=False)

1     4
2     1
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
18    4
19    2
20    4
21    3
22    2
23    2
24    2
25    2
26    2
27    2
28    4
29    2
30    3
31    2
32    2
33    2
34    4
35    2
36    2
37    2
38    3
39    2
40    3
41    2
42    2
43    2
44    1
Name: order_id, dtype: int64

In [45]:
df.order_id.value_counts(sort=False)

1     4
2     1
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
18    4
19    2
20    4
21    3
22    2
23    2
24    2
25    2
26    2
27    2
28    4
29    2
30    3
31    2
32    2
33    2
34    4
35    2
36    2
37    2
38    3
39    2
40    3
41    2
42    2
43    2
44    1
Name: order_id, dtype: int64

In [46]:
dic_pedidos = {}

for pepa in pedidos:
    dfsel = df[df['order_id'] == pepa]
    n_pedidos = dfsel.shape[0]
    dic_pedidos[pepa] = n_pedidos

pd.Series(dic_pedidos)

1     4
2     1
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
18    4
19    2
20    4
21    3
22    2
23    2
24    2
25    2
26    2
27    2
28    4
29    2
30    3
31    2
32    2
33    2
34    4
35    2
36    2
37    2
38    3
39    2
40    3
41    2
42    2
43    2
44    1
dtype: int64

In [47]:
df.item_price.sum()

'$2.39 $3.39 $3.39 $2.39 $16.98 $10.98 $1.69 $11.75 $9.25 $9.25 $4.45 $8.75 $8.75 $11.25 $4.45 $2.39 $8.49 $8.49 $2.18 $8.75 $4.45 $8.99 $3.39 $10.98 $3.39 $2.39 $8.49 $8.99 $1.09 $8.49 $2.39 $8.99 $1.69 $8.99 $1.09 $8.75 $8.75 $4.45 $2.95 $11.75 $2.15 $4.45 $11.25 $11.75 $8.75 $10.98 $8.99 $3.39 $8.99 $3.99 $8.99 $2.18 $10.98 $1.09 $8.99 $2.39 $9.25 $11.25 $11.75 $2.15 $4.45 $9.25 $11.25 $8.75 $8.99 $8.99 $3.39 $8.99 $10.98 $8.99 $1.69 $8.99 $3.99 $8.75 $4.45 $8.75 $8.75 $2.15 $8.75 $11.25 $2.15 $9.25 $8.75 $8.75 $9.25 $8.49 $8.99 $1.09 $9.25 $2.95 $11.75 $11.75 $9.25 $11.75 $4.45 $9.25 $4.45 $11.75 $8.75 $8.75 '

In [48]:
for i in df.item_price:
    print(i)

$2.39
$3.39
$3.39
$2.39
$16.98
$10.98
$1.69
$11.75
$9.25
$9.25
$4.45
$8.75
$8.75
$11.25
$4.45
$2.39
$8.49
$8.49
$2.18
$8.75
$4.45
$8.99
$3.39
$10.98
$3.39
$2.39
$8.49
$8.99
$1.09
$8.49
$2.39
$8.99
$1.69
$8.99
$1.09
$8.75
$8.75
$4.45
$2.95
$11.75
$2.15
$4.45
$11.25
$11.75
$8.75
$10.98
$8.99
$3.39
$8.99
$3.99
$8.99
$2.18
$10.98
$1.09
$8.99
$2.39
$9.25
$11.25
$11.75
$2.15
$4.45
$9.25
$11.25
$8.75
$8.99
$8.99
$3.39
$8.99
$10.98
$8.99
$1.69
$8.99
$3.99
$8.75
$4.45
$8.75
$8.75
$2.15
$8.75
$11.25
$2.15
$9.25
$8.75
$8.75
$9.25
$8.49
$8.99
$1.09
$9.25
$2.95
$11.75
$11.75
$9.25
$11.75
$4.45
$9.25
$4.45
$11.75
$8.75
$8.75

In [49]:
i = '$2.39 '

In [50]:
clean_i = i.replace('$', '').replace(' ', '')

In [51]:
float_i = float(clean_i)

In [52]:
float_i

2.39

In [53]:
i = '$2.39 '

clean_i = i.replace('$', '').replace(' ', '')

float_i = float(clean_i)

float_i

2.39

In [54]:
    i = '$2.39 '

    clean_i = i.replace('$', '').replace(' ', '')

    float_i = float(clean_i)

    float_i

2.39

In [55]:
for i in df.item_price:
    
    clean_i = i.replace('$', '').replace(' ', '')

    float_i = float(clean_i)

    float_i

In [56]:
float_i

8.75

In [57]:
lista_precios = []

In [58]:
for i in df.item_price:
    
    clean_i = i.replace('$', '').replace(' ', '')

    float_i = float(clean_i)

    lista_precios.append(float_i)

In [59]:
lista_precios

[2.39,
 3.39,
 3.39,
 2.39,
 16.98,
 10.98,
 1.69,
 11.75,
 9.25,
 9.25,
 4.45,
 8.75,
 8.75,
 11.25,
 4.45,
 2.39,
 8.49,
 8.49,
 2.18,
 8.75,
 4.45,
 8.99,
 3.39,
 10.98,
 3.39,
 2.39,
 8.49,
 8.99,
 1.09,
 8.49,
 2.39,
 8.99,
 1.69,
 8.99,
 1.09,
 8.75,
 8.75,
 4.45,
 2.95,
 11.75,
 2.15,
 4.45,
 11.25,
 11.75,
 8.75,
 10.98,
 8.99,
 3.39,
 8.99,
 3.99,
 8.99,
 2.18,
 10.98,
 1.09,
 8.99,
 2.39,
 9.25,
 11.25,
 11.75,
 2.15,
 4.45,
 9.25,
 11.25,
 8.75,
 8.99,
 8.99,
 3.39,
 8.99,
 10.98,
 8.99,
 1.69,
 8.99,
 3.99,
 8.75,
 4.45,
 8.75,
 8.75,
 2.15,
 8.75,
 11.25,
 2.15,
 9.25,
 8.75,
 8.75,
 9.25,
 8.49,
 8.99,
 1.09,
 9.25,
 2.95,
 11.75,
 11.75,
 9.25,
 11.75,
 4.45,
 9.25,
 4.45,
 11.75,
 8.75,
 8.75]

In [60]:
df['precio'] = lista_precios

In [61]:
df

,order_id,quantity,item_name,choice_description,item_price,precio
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
95,42,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25,9.25
96,42,1,Chips and Guacamole,NaN,$4.45,4.45
97,43,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.75,11.75
98,43,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75,8.75
99,44,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$8.75,8.75

In [62]:
df.item_price.sum()

'$2.39 $3.39 $3.39 $2.39 $16.98 $10.98 $1.69 $11.75 $9.25 $9.25 $4.45 $8.75 $8.75 $11.25 $4.45 $2.39 $8.49 $8.49 $2.18 $8.75 $4.45 $8.99 $3.39 $10.98 $3.39 $2.39 $8.49 $8.99 $1.09 $8.49 $2.39 $8.99 $1.69 $8.99 $1.09 $8.75 $8.75 $4.45 $2.95 $11.75 $2.15 $4.45 $11.25 $11.75 $8.75 $10.98 $8.99 $3.39 $8.99 $3.99 $8.99 $2.18 $10.98 $1.09 $8.99 $2.39 $9.25 $11.25 $11.75 $2.15 $4.45 $9.25 $11.25 $8.75 $8.99 $8.99 $3.39 $8.99 $10.98 $8.99 $1.69 $8.99 $3.99 $8.75 $4.45 $8.75 $8.75 $2.15 $8.75 $11.25 $2.15 $9.25 $8.75 $8.75 $9.25 $8.49 $8.99 $1.09 $9.25 $2.95 $11.75 $11.75 $9.25 $11.75 $4.45 $9.25 $4.45 $11.75 $8.75 $8.75 '

In [63]:
df.precio.sum()

715.94

In [64]:
df

,order_id,quantity,item_name,choice_description,item_price,precio
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
95,42,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25,9.25
96,42,1,Chips and Guacamole,NaN,$4.45,4.45
97,43,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.75,11.75
98,43,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75,8.75
99,44,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$8.75,8.75

In [65]:
for item in df.choice_description:
    print(item)

nan
[Clementine]
[Apple]
nan
[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]
[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]
nan
[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]
[Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]
[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]
nan
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream]]
[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream]]
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole]]
nan
nan
[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Cheese, Sour Cream]]
[Fresh Tomato Salsa (Mild), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]
[Sprite]
[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Sour Cream, Cheese, Lettuce]]
nan
[[Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Rice, Cheese, Sour Cream, Lettuce]]
[Pomegranate Cherry]
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Rice, Cheese, Sour Cream, Guacamole, Lettuce]]
[Grapefruit]
nan
[Roasted Chili Corn Salsa (Medium), [Pinto Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Sour Cream, Lettuce]]
[Dr. Pepper]
[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Rice, Cheese, Sour Cream]]
nan
[[Roasted Chili Corn Salsa (Medium), Fresh Tomato Salsa (Mild)], [Rice, Black Beans, Sour Cream]]
nan
[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]
nan
[Roasted Chili Corn Salsa, Rice]
[Roasted Chili Corn Salsa, [Cheese, Lettuce]]
nan
nan
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]
nan
nan
[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]
[Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]
[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]
[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]
[Tomatillo-Red Chili Salsa (Hot), [Rice, Fajita Veggies, Cheese]]
[Blackberry]
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Sour Cream]]
nan
[Roasted Chili Corn Salsa (Medium), [Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]
[Mountain Dew]
[Roasted Chili Corn Salsa (Medium), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]
[Sprite]
[Fresh Tomato Salsa (Mild), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream]]
nan
[Fresh Tomato Salsa, [Fajita Vegetables, Black Beans, Lettuce]]
[Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]
nan
nan
[Fresh Tomato Salsa, Cheese]
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]
[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]
[Tomatillo-Red Chili Salsa (Hot), [Rice, Cheese, Sour Cream, Lettuce]]
[Blackberry]
[Tomatillo-Red Chili Salsa (Hot), [Rice, Cheese]]
[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]
[Roasted Chili Corn Salsa (Medium), [Rice, Black Beans, Sour Cream]]
nan
[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]
nan
[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream]]
nan
[Tomatillo Red Chili Salsa, [Rice, Cheese, Sour Cream, Lettuce]]
[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Lettuce]]
nan
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]
[Roasted Chili Corn Salsa, [Rice, Cheese, Lettuce, Guacamole]]
nan
[Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Lettuce]]
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]
[Tomatillo Green Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese]]
[Tomatillo Red Chili Salsa]
[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans, Black Beans, Rice, Fajita Veggies, Lettuce]]
[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans, Rice, Fajita Veggies, Cheese, Lettuce]]
nan
[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour Cream, Cheese]]
nan
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole]]
[Fresh Tomato Salsa, [Fajita Vegetables, Cheese, Sour Cream, Guacamole]]
[Fresh Tomato Salsa, Sour Cream]
[Roasted Chili Corn Salsa, [Sour Cream, Guacamole]]
nan
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream]]
nan
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, Lettuce]]
[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese]]
[Tomatillo Red Chili Salsa, [Rice, Fajita Vegetables, Sour Cream, Lettuce]]

In [66]:
item = '[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]'

In [67]:
item = item.replace('[', '').replace(']', '')

In [68]:
item

'Tomatillo-Red Chili Salsa (Hot), Black Beans, Rice, Cheese, Sour Cream'

In [69]:
lista_item = item.split(', ')

In [70]:
lista_item

['Tomatillo-Red Chili Salsa (Hot)',
 'Black Beans',
 'Rice',
 'Cheese',
 'Sour Cream']

In [71]:
item = '[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]'

item = item.replace('[', '').replace(']', '')

item

lista_item = item.split(', ')

lista_item

['Tomatillo-Red Chili Salsa (Hot)',
 'Black Beans',
 'Rice',
 'Cheese',
 'Sour Cream']

In [72]:
    item = '[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]'

    item = item.replace('[', '').replace(']', '')

    item

    lista_item = item.split(', ')

    lista_item

['Tomatillo-Red Chili Salsa (Hot)',
 'Black Beans',
 'Rice',
 'Cheese',
 'Sour Cream']

In [73]:
for item in df.choice_description:
    
    item = '[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]'

    item = item.replace('[', '').replace(']', '')

    item

    lista_item = item.split(', ')

    lista_item

In [74]:
for item in df.choice_description:

    item = item.replace('[', '').replace(']', '')

    item

    lista_item = item.split(', ')

    lista_item

AttributeError: 'float' object has no attribute 'replace'

In [75]:
for item in df.choice_description:
    
    print(item)
    
    item = item.replace('[', '').replace(']', '')

    item

    lista_item = item.split(', ')

    lista_item

nan

AttributeError: 'float' object has no attribute 'replace'

In [76]:
import numpy as np

In [77]:
np.nan

nan

In [78]:
np.nan.replace()

AttributeError: 'float' object has no attribute 'replace'

In [79]:
if type(item) == float:
    print('bingo')
else:
    print('nanai')

bingo

In [80]:
for item in df.choice_description:
    if type(item) == float:
        
        item
        
    else:
        
        item = item.replace('[', '').replace(']', '')

        item

        lista_item = item.split(', ')

        lista_item

In [81]:
for item in df.choice_description:
    if type(item) == float:
        
        item
        
    else:
        
        item = item.replace('[', '').replace(']', '')

        item

        lista_item = item.split(', ')

        print(lista_item)

['Clementine']
['Apple']
['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Rice', 'Cheese', 'Sour Cream']
['Fresh Tomato Salsa (Mild)', 'Rice', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Tomatillo Red Chili Salsa', 'Fajita Vegetables', 'Black Beans', 'Pinto Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Tomatillo Green Chili Salsa', 'Pinto Beans', 'Cheese', 'Sour Cream', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Pinto Beans', 'Cheese', 'Sour Cream', 'Lettuce']
['Roasted Chili Corn Salsa', 'Fajita Vegetables', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream']
['Roasted Chili Corn Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Rice', 'Cheese', 'Sour Cream', 'Guacamole']
['Tomatillo-Green Chili Salsa (Medium)', 'Pinto Beans', 'Cheese', 'Sour Cream']
['Fresh Tomato Salsa (Mild)', 'Black Beans', 'Rice', 'Cheese', 'Sour Cream', 'Lettuce']
['Sprite']
['Tomatillo Red Chili Salsa', 'Fajita Vegetables', 'Black Beans', 'Sour Cream', 'Cheese', 'Lettuce']
['Fresh Tomato Salsa (Mild)', 'Tomatillo-Green Chili Salsa (Medium)', 'Tomatillo-Red Chili Salsa (Hot)', 'Rice', 'Cheese', 'Sour Cream', 'Lettuce']
['Pomegranate Cherry']
['Tomatillo-Green Chili Salsa (Medium)', 'Tomatillo-Red Chili Salsa (Hot)', 'Pinto Beans', 'Rice', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Grapefruit']
['Roasted Chili Corn Salsa (Medium)', 'Pinto Beans', 'Rice', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Lettuce']
['Tomatillo-Green Chili Salsa (Medium)', 'Roasted Chili Corn Salsa (Medium)', 'Black Beans', 'Rice', 'Sour Cream', 'Lettuce']
['Dr. Pepper']
['Tomatillo-Green Chili Salsa (Medium)', 'Pinto Beans', 'Rice', 'Cheese', 'Sour Cream']
['Roasted Chili Corn Salsa (Medium)', 'Fresh Tomato Salsa (Mild)', 'Rice', 'Black Beans', 'Sour Cream']
['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Rice', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Lettuce']
['Roasted Chili Corn Salsa', 'Rice']
['Roasted Chili Corn Salsa', 'Cheese', 'Lettuce']
['Roasted Chili Corn Salsa', 'Fajita Vegetables', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Roasted Chili Corn Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Pinto Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Pinto Beans', 'Lettuce']
['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Tomatillo-Red Chili Salsa (Hot)', 'Rice', 'Fajita Veggies', 'Cheese']
['Blackberry']
['Fresh Tomato Salsa (Mild)', 'Roasted Chili Corn Salsa (Medium)', 'Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Rice', 'Sour Cream']
['Roasted Chili Corn Salsa (Medium)', 'Rice', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Lettuce']
['Mountain Dew']
['Roasted Chili Corn Salsa (Medium)', 'Black Beans', 'Rice', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Sprite']
['Fresh Tomato Salsa (Mild)', 'Black Beans', 'Rice', 'Fajita Veggies', 'Cheese', 'Sour Cream']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Black Beans', 'Lettuce']
['Tomatillo Red Chili Salsa', 'Fajita Vegetables', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Roasted Chili Corn Salsa', 'Fajita Vegetables', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Fresh Tomato Salsa', 'Cheese']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Cheese']
['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Rice', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Lettuce']
['Tomatillo-Red Chili Salsa (Hot)', 'Rice', 'Cheese', 'Sour Cream', 'Lettuce']
['Blackberry']
['Tomatillo-Red Chili Salsa (Hot)', 'Rice', 'Cheese']
['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Roasted Chili Corn Salsa (Medium)', 'Rice', 'Black Beans', 'Sour Cream']
['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Rice', 'Cheese', 'Sour Cream', 'Lettuce']
['Tomatillo Red Chili Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream']
['Tomatillo Red Chili Salsa', 'Rice', 'Cheese', 'Sour Cream', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Pinto Beans', 'Cheese', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Lettuce']
['Roasted Chili Corn Salsa', 'Rice', 'Cheese', 'Lettuce', 'Guacamole']
['Fresh Tomato Salsa', 'Rice', 'Pinto Beans', 'Cheese', 'Sour Cream', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Lettuce']
['Tomatillo Green Chili Salsa', 'Rice', 'Black Beans', 'Sour Cream', 'Cheese']
['Tomatillo Red Chili Salsa']
['Tomatillo-Red Chili Salsa (Hot)', 'Pinto Beans', 'Black Beans', 'Rice', 'Fajita Veggies', 'Lettuce']
['Tomatillo-Red Chili Salsa (Hot)', 'Pinto Beans', 'Rice', 'Fajita Veggies', 'Cheese', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Pinto Beans', 'Sour Cream', 'Cheese']
['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Guacamole']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Cheese', 'Sour Cream', 'Guacamole']
['Fresh Tomato Salsa', 'Sour Cream']
['Roasted Chili Corn Salsa', 'Sour Cream', 'Guacamole']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Rice', 'Cheese', 'Sour Cream']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Rice', 'Black Beans', 'Cheese', 'Guacamole', 'Lettuce']
['Tomatillo Red Chili Salsa', 'Rice', 'Black Beans', 'Cheese']
['Tomatillo Red Chili Salsa', 'Rice', 'Fajita Vegetables', 'Sour Cream', 'Lettuce']

In [82]:
for item in df.choice_description:
    if type(item) == float:
        
        lista_item = []
        
    else:
        
        item = item.replace('[', '').replace(']', '')

        item

        lista_item = item.split(', ')

        print(lista_item)

['Clementine']
['Apple']
['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Rice', 'Cheese', 'Sour Cream']
['Fresh Tomato Salsa (Mild)', 'Rice', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Tomatillo Red Chili Salsa', 'Fajita Vegetables', 'Black Beans', 'Pinto Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Tomatillo Green Chili Salsa', 'Pinto Beans', 'Cheese', 'Sour Cream', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Pinto Beans', 'Cheese', 'Sour Cream', 'Lettuce']
['Roasted Chili Corn Salsa', 'Fajita Vegetables', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream']
['Roasted Chili Corn Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Rice', 'Cheese', 'Sour Cream', 'Guacamole']
['Tomatillo-Green Chili Salsa (Medium)', 'Pinto Beans', 'Cheese', 'Sour Cream']
['Fresh Tomato Salsa (Mild)', 'Black Beans', 'Rice', 'Cheese', 'Sour Cream', 'Lettuce']
['Sprite']
['Tomatillo Red Chili Salsa', 'Fajita Vegetables', 'Black Beans', 'Sour Cream', 'Cheese', 'Lettuce']
['Fresh Tomato Salsa (Mild)', 'Tomatillo-Green Chili Salsa (Medium)', 'Tomatillo-Red Chili Salsa (Hot)', 'Rice', 'Cheese', 'Sour Cream', 'Lettuce']
['Pomegranate Cherry']
['Tomatillo-Green Chili Salsa (Medium)', 'Tomatillo-Red Chili Salsa (Hot)', 'Pinto Beans', 'Rice', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Grapefruit']
['Roasted Chili Corn Salsa (Medium)', 'Pinto Beans', 'Rice', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Lettuce']
['Tomatillo-Green Chili Salsa (Medium)', 'Roasted Chili Corn Salsa (Medium)', 'Black Beans', 'Rice', 'Sour Cream', 'Lettuce']
['Dr. Pepper']
['Tomatillo-Green Chili Salsa (Medium)', 'Pinto Beans', 'Rice', 'Cheese', 'Sour Cream']
['Roasted Chili Corn Salsa (Medium)', 'Fresh Tomato Salsa (Mild)', 'Rice', 'Black Beans', 'Sour Cream']
['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Rice', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Lettuce']
['Roasted Chili Corn Salsa', 'Rice']
['Roasted Chili Corn Salsa', 'Cheese', 'Lettuce']
['Roasted Chili Corn Salsa', 'Fajita Vegetables', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Roasted Chili Corn Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Pinto Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Pinto Beans', 'Lettuce']
['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Tomatillo-Red Chili Salsa (Hot)', 'Rice', 'Fajita Veggies', 'Cheese']
['Blackberry']
['Fresh Tomato Salsa (Mild)', 'Roasted Chili Corn Salsa (Medium)', 'Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Rice', 'Sour Cream']
['Roasted Chili Corn Salsa (Medium)', 'Rice', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Lettuce']
['Mountain Dew']
['Roasted Chili Corn Salsa (Medium)', 'Black Beans', 'Rice', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Sprite']
['Fresh Tomato Salsa (Mild)', 'Black Beans', 'Rice', 'Fajita Veggies', 'Cheese', 'Sour Cream']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Black Beans', 'Lettuce']
['Tomatillo Red Chili Salsa', 'Fajita Vegetables', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Roasted Chili Corn Salsa', 'Fajita Vegetables', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Fresh Tomato Salsa', 'Cheese']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Cheese']
['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Rice', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Lettuce']
['Tomatillo-Red Chili Salsa (Hot)', 'Rice', 'Cheese', 'Sour Cream', 'Lettuce']
['Blackberry']
['Tomatillo-Red Chili Salsa (Hot)', 'Rice', 'Cheese']
['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Fajita Veggies', 'Cheese', 'Sour Cream', 'Guacamole', 'Lettuce']
['Roasted Chili Corn Salsa (Medium)', 'Rice', 'Black Beans', 'Sour Cream']
['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Rice', 'Cheese', 'Sour Cream', 'Lettuce']
['Tomatillo Red Chili Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream']
['Tomatillo Red Chili Salsa', 'Rice', 'Cheese', 'Sour Cream', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Pinto Beans', 'Cheese', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Lettuce']
['Roasted Chili Corn Salsa', 'Rice', 'Cheese', 'Lettuce', 'Guacamole']
['Fresh Tomato Salsa', 'Rice', 'Pinto Beans', 'Cheese', 'Sour Cream', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Lettuce']
['Tomatillo Green Chili Salsa', 'Rice', 'Black Beans', 'Sour Cream', 'Cheese']
['Tomatillo Red Chili Salsa']
['Tomatillo-Red Chili Salsa (Hot)', 'Pinto Beans', 'Black Beans', 'Rice', 'Fajita Veggies', 'Lettuce']
['Tomatillo-Red Chili Salsa (Hot)', 'Pinto Beans', 'Rice', 'Fajita Veggies', 'Cheese', 'Lettuce']
['Fresh Tomato Salsa', 'Rice', 'Pinto Beans', 'Sour Cream', 'Cheese']
['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream', 'Guacamole']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Cheese', 'Sour Cream', 'Guacamole']
['Fresh Tomato Salsa', 'Sour Cream']
['Roasted Chili Corn Salsa', 'Sour Cream', 'Guacamole']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Rice', 'Cheese', 'Sour Cream']
['Fresh Tomato Salsa', 'Fajita Vegetables', 'Rice', 'Black Beans', 'Cheese', 'Guacamole', 'Lettuce']
['Tomatillo Red Chili Salsa', 'Rice', 'Black Beans', 'Cheese']
['Tomatillo Red Chili Salsa', 'Rice', 'Fajita Vegetables', 'Sour Cream', 'Lettuce']

In [83]:
lista_todos = []

In [84]:
for item in df.choice_description:
    if type(item) == float:
        
        lista_item = []
        lista_todos.append(lista_item)
    else:
        
        item = item.replace('[', '').replace(']', '')

        item

        lista_item = item.split(', ')

        lista_todos.append(lista_item)

In [85]:
lista_todos

[[],
 ['Clementine'],
 ['Apple'],
 [],
 ['Tomatillo-Red Chili Salsa (Hot)',
  'Black Beans',
  'Rice',
  'Cheese',
  'Sour Cream'],
 ['Fresh Tomato Salsa (Mild)',
  'Rice',
  'Cheese',
  'Sour Cream',
  'Guacamole',
  'Lettuce'],
 [],
 ['Tomatillo Red Chili Salsa',
  'Fajita Vegetables',
  'Black Beans',
  'Pinto Beans',
  'Cheese',
  'Sour Cream',
  'Guacamole',
  'Lettuce'],
 ['Tomatillo Green Chili Salsa',
  'Pinto Beans',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 ['Fresh Tomato Salsa',
  'Rice',
  'Black Beans',
  'Pinto Beans',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 [],
 ['Roasted Chili Corn Salsa',
  'Fajita Vegetables',
  'Rice',
  'Black Beans',
  'Cheese',
  'Sour Cream'],
 ['Roasted Chili Corn Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream'],
 ['Fresh Tomato Salsa',
  'Fajita Vegetables',
  'Rice',
  'Cheese',
  'Sour Cream',
  'Guacamole'],
 [],
 [],
 ['Tomatillo-Green Chili Salsa (Medium)',
  'Pinto Beans',
  'Cheese',
  'Sour Cream'],
 ['Fresh Tomato Salsa (Mild)',
  'Black Beans',
  'Rice',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 ['Sprite'],
 ['Tomatillo Red Chili Salsa',
  'Fajita Vegetables',
  'Black Beans',
  'Sour Cream',
  'Cheese',
  'Lettuce'],
 [],
 ['Fresh Tomato Salsa (Mild)',
  'Tomatillo-Green Chili Salsa (Medium)',
  'Tomatillo-Red Chili Salsa (Hot)',
  'Rice',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 ['Pomegranate Cherry'],
 ['Tomatillo-Green Chili Salsa (Medium)',
  'Tomatillo-Red Chili Salsa (Hot)',
  'Pinto Beans',
  'Rice',
  'Cheese',
  'Sour Cream',
  'Guacamole',
  'Lettuce'],
 ['Grapefruit'],
 [],
 ['Roasted Chili Corn Salsa (Medium)',
  'Pinto Beans',
  'Rice',
  'Fajita Veggies',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 ['Tomatillo-Green Chili Salsa (Medium)',
  'Roasted Chili Corn Salsa (Medium)',
  'Black Beans',
  'Rice',
  'Sour Cream',
  'Lettuce'],
 ['Dr. Pepper'],
 ['Tomatillo-Green Chili Salsa (Medium)',
  'Pinto Beans',
  'Rice',
  'Cheese',
  'Sour Cream'],
 [],
 ['Roasted Chili Corn Salsa (Medium)',
  'Fresh Tomato Salsa (Mild)',
  'Rice',
  'Black Beans',
  'Sour Cream'],
 [],
 ['Tomatillo-Red Chili Salsa (Hot)',
  'Black Beans',
  'Rice',
  'Fajita Veggies',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 [],
 ['Roasted Chili Corn Salsa', 'Rice'],
 ['Roasted Chili Corn Salsa', 'Cheese', 'Lettuce'],
 [],
 [],
 ['Roasted Chili Corn Salsa',
  'Fajita Vegetables',
  'Rice',
  'Black Beans',
  'Cheese',
  'Sour Cream',
  'Guacamole',
  'Lettuce'],
 [],
 [],
 ['Roasted Chili Corn Salsa',
  'Rice',
  'Black Beans',
  'Cheese',
  'Sour Cream',
  'Guacamole',
  'Lettuce'],
 ['Fresh Tomato Salsa',
  'Rice',
  'Pinto Beans',
  'Cheese',
  'Sour Cream',
  'Guacamole',
  'Lettuce'],
 ['Fresh Tomato Salsa', 'Fajita Vegetables', 'Pinto Beans', 'Lettuce'],
 ['Tomatillo-Red Chili Salsa (Hot)',
  'Black Beans',
  'Fajita Veggies',
  'Cheese',
  'Sour Cream',
  'Guacamole',
  'Lettuce'],
 ['Tomatillo-Red Chili Salsa (Hot)', 'Rice', 'Fajita Veggies', 'Cheese'],
 ['Blackberry'],
 ['Fresh Tomato Salsa (Mild)',
  'Roasted Chili Corn Salsa (Medium)',
  'Tomatillo-Red Chili Salsa (Hot)',
  'Black Beans',
  'Rice',
  'Sour Cream'],
 [],
 ['Roasted Chili Corn Salsa (Medium)',
  'Rice',
  'Fajita Veggies',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 ['Mountain Dew'],
 ['Roasted Chili Corn Salsa (Medium)',
  'Black Beans',
  'Rice',
  'Fajita Veggies',
  'Cheese',
  'Sour Cream',
  'Guacamole',
  'Lettuce'],
 ['Sprite'],
 ['Fresh Tomato Salsa (Mild)',
  'Black Beans',
  'Rice',
  'Fajita Veggies',
  'Cheese',
  'Sour Cream'],
 [],
 ['Fresh Tomato Salsa', 'Fajita Vegetables', 'Black Beans', 'Lettuce'],
 ['Tomatillo Red Chili Salsa',
  'Fajita Vegetables',
  'Rice',
  'Black Beans',
  'Cheese',
  'Sour Cream',
  'Guacamole',
  'Lettuce'],
 ['Roasted Chili Corn Salsa',
  'Fajita Vegetables',
  'Rice',
  'Black Beans',
  'Cheese',
  'Sour Cream',
  'Guacamole',
  'Lettuce'],
 [],
 [],
 ['Fresh Tomato Salsa', 'Cheese'],
 ['Fresh Tomato Salsa',
  'Fajita Vegetables',
  'Rice',
  'Black Beans',
  'Cheese',
  'Sour Cream',
  'Guacamole',
  'Lettuce'],
 ['Fresh Tomato Salsa', 'Rice', 'Black Beans', 'Cheese'],
 ['Tomatillo-Red Chili Salsa (Hot)',
  'Black Beans',
  'Rice',
  'Fajita Veggies',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 ['Tomatillo-Red Chili Salsa (Hot)',
  'Rice',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 ['Blackberry'],
 ['Tomatillo-Red Chili Salsa (Hot)', 'Rice', 'Cheese'],
 ['Tomatillo-Red Chili Salsa (Hot)',
  'Black Beans',
  'Fajita Veggies',
  'Cheese',
  'Sour Cream',
  'Guacamole',
  'Lettuce'],
 ['Roasted Chili Corn Salsa (Medium)', 'Rice', 'Black Beans', 'Sour Cream'],
 [],
 ['Tomatillo-Red Chili Salsa (Hot)',
  'Black Beans',
  'Rice',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 [],
 ['Tomatillo Red Chili Salsa', 'Rice', 'Black Beans', 'Cheese', 'Sour Cream'],
 [],
 ['Tomatillo Red Chili Salsa', 'Rice', 'Cheese', 'Sour Cream', 'Lettuce'],
 ['Fresh Tomato Salsa',
  'Rice',
  'Black Beans',
  'Pinto Beans',
  'Cheese',
  'Lettuce'],
 [],
 ['Fresh Tomato Salsa',
  'Rice',
  'Black Beans',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 ['Roasted Chili Corn Salsa', 'Rice', 'Cheese', 'Lettuce', 'Guacamole'],
 [],
 ['Fresh Tomato Salsa',
  'Rice',
  'Pinto Beans',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 ['Fresh Tomato Salsa',
  'Rice',
  'Black Beans',
  'Cheese',
  'Sour Cream',
  'Lettuce'],
 ['Tomatillo Green Chili Salsa',
  'Rice',
  'Black Beans',
  'Sour Cream',
  'Cheese'],
 ['Tomatillo Red Chili Salsa'],
 ['Tomatillo-Red Chili Salsa (Hot)',
  'Pinto Beans',
  'Black Beans',
  'Rice',
  'Fajita Veggies',
  'Lettuce'],
 ['Tomatillo-Red Chili Salsa (Hot)',
  'Pinto Beans',
  'Rice',
  'Fajita Veggies',
  'Cheese',
  'Lettuce'],
 [],
 ['Fresh Tomato Salsa', 'Rice', 'Pinto Beans', 'Sour Cream', 'Cheese'],
 [],
 ['Fresh Tomato Salsa',
  'Rice',
  'Black Beans',
  'Cheese',
  'Sour Cream',
  'Guacamole'],
 ['Fresh Tomato Salsa',
  'Fajita Vegetables',
  'Cheese',
  'Sour Cream',
  'Guacamole'],
 ['Fresh Tomato Salsa', 'Sour Cream'],
 ['Roasted Chili Corn Salsa', 'Sour Cream', 'Guacamole'],
 [],
 ['Fresh Tomato Salsa', 'Fajita Vegetables', 'Rice', 'Cheese', 'Sour Cream'],
 [],
 ['Fresh Tomato Salsa',
  'Fajita Vegetables',
  'Rice',
  'Black Beans',
  'Cheese',
  'Guacamole',
  'Lettuce'],
 ['Tomatillo Red Chili Salsa', 'Rice', 'Black Beans', 'Cheese'],
 ['Tomatillo Red Chili Salsa',
  'Rice',
  'Fajita Vegetables',
  'Sour Cream',
  'Lettuce']]

In [86]:
from sklearn.feature_extraction.text import TfidfVectorizer

bag_of_words = CountVectorizer(tokenizer=lambda doc: doc, lowercase=False).fit_transform(lista_todos)

NameError: name 'CountVectorizer' is not defined

In [87]:
bag_of_words.get

NameError: name 'bag_of_words' is not defined

In [250]:
vec = TfidfVectorizer()

In [251]:
lista_todos = [','.join(i) for i in lista_todos]

In [254]:
vec.fit(lista_todos)

TfidfVectorizer()

In [256]:
data = vec.transform(lista_todos).toarray()

In [259]:
vec.get_feature_names_out()

array(['adobo', 'and', 'apple', 'banana', 'barbacoa', 'beans', 'black',
       'blackberry', 'braised', 'brown', 'carnitas', 'cheese', 'cherry',
       'chicken', 'chili', 'cilantro', 'clementine', 'coca', 'coke',
       'cola', 'corn', 'cream', 'dew', 'diet', 'dr', 'fajita', 'fresh',
       'grapefruit', 'green', 'grilled', 'guacamole', 'hot', 'lemonade',
       'lettuce', 'lime', 'marinated', 'medium', 'mild', 'mountain',
       'nestea', 'orange', 'peach', 'pepper', 'pineapple', 'pinto',
       'pomegranate', 'red', 'rice', 'roasted', 'salsa', 'sour', 'sprite',
       'steak', 'tomatillo', 'tomato', 'vegetables', 'vegetarian',
       'veggies', 'white'], dtype=object)

In [257]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.249013,0.288058,0.0,0.0,0.0,...,0.193192,0.257043,0.0,0.0,0.338111,0.000000,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617,0.0,0.0,0.0,0.0,0.0,0.290687,0.336267,0.0,0.0,0.0,...,0.225524,0.300061,0.0,0.0,0.000000,0.327260,0.000000,0.0,0.0,0.0
4618,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.251763,0.334971,0.0,0.0,0.000000,0.365334,0.000000,0.0,0.0,0.0
4619,0.0,0.0,0.0,0.0,0.0,0.274721,0.000000,0.0,0.0,0.0,...,0.213137,0.000000,0.0,0.0,0.000000,0.309284,0.406209,0.0,0.0,0.0
4620,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.273375,0.000000,0.0,0.0,0.000000,0.396696,0.521015,0.0,0.0,0.0
4621,0.0,0.0,0.0,0.0,0.0,0.293833,0.000000,0.0,0.0,0.0,...,0.227965,0.000000,0.0,0.0,0.000000,0.330801,0.434469,0.0,0.0,0.0

In [232]:
pd.DataFrame(bag_of_words.toarray())

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617,0,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
4618,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
4619,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4620,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4621,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0