<font size="+5">#02. Data Manipulation & Visualization to Enhance the Discipline</font>

- Book + Private Lessons [Here â†—](https://sotastica.com/reservar)
- Subscribe to my [Blog â†—](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn â†—](www.linkedin.com/in/jsulopz) ðŸ˜„

# Discipline to Search Solutions in Google

> Apply the following steps when **looking for solutions in Google**:
>
> 1. **Necesity**: How to load an Excel in Python?
> 2. **Search in Google**: by keywords
>   - `load excel python`
>   - ~~how to load excel in python~~
> 3. **Solution**: What's the `function()` that loads an Excel in Python?
>   - A Function to Programming is what the Atom to Phisics.
>   - Every time you want to do something in programming
>   - **You will need a `function()`** to make it
>   - Theferore, you must **detect parenthesis `()`**
>   - Out of all the words that you see in a website
>   - Because they indicate the presence of a `function()`.

# Load the Data

> - By executing the below lines of code,
> - You will see a list of possible datasets that we can load to python by just typing the name in the function

In [3]:
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

> - For example, `mpg`:

**PS**: It will be more challenging & fun for your learning to try other dataset than `mpg`

In [4]:
your_dataset = 'mpg'

In [5]:
df = sns.load_dataset(name=your_dataset)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# Scatterplot with 2 Variables

> - Variable in X Axis
> - Variable in Y Axis

# Scatterplot with 3 variables

> - Variable in X Axis
> - Variable in Y Axis
> - Color each point regarding a different value in a column

# Other Data Visualization Figures

> We'll head over the 3 main libraries used in Python to visualize data: `matplotlib`, `seaborn` and `plotly`.
>
> We'll reproduce at least one example from the links provided below. Therefore, we need to:
>
> 1. Click in the link
> 2. Pick up an example
> 3. Copy-paste the lines of code
> 4. Run the code

## Seaborn

### Seaborn Example Gallery

> - https://seaborn.pydata.org/examples/index.html

### Repeat the same Visualization Figures

> - Now with you `DataFrame` â†“

In [12]:
df = sns.load_dataset(name=your_dataset)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

## Matplotlib

## Matplotlib Example Gallery

> - https://towardsdatascience.com/matplotlib-tutorial-with-code-for-pythons-powerful-data-visualization-tool-8ec458423c5e

### Repeat the same Visualization Figures

> - Now with you `DataFrame` â†“

In [12]:
df = sns.load_dataset(name=your_dataset)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

## Plotly

## Plotly Example Gallery

> - https://plotly.com/python/

### Repeat the same Visualization Figures

> - Now with you `DataFrame` â†“

In [12]:
df = sns.load_dataset(name=your_dataset)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# Achieved Goals

_Double click on **this cell** and place an `X` inside the square brackets (i.e., [X]) if you think you understand the goal:_

- [ ] All roads lead to Rome; We can achieve the **the same result with different lines of code**.
  - We reproduced a scatterplot using 3 different lines of code.
- [ ] Different **`libraries`** may have `functions()` that do the **same thing**.
  - `matplotlib`, `seaborn` & `plotly` makes outstanding Visualization Figures
  - But you probably wouldn't use `plotly` on a paper. Unless we are on Harry Potter ðŸ˜œ
- [ ] Understand that **coding is a matter of necessity**. Not a serie of mechanical steps to achieve a goal.
  - You need to create art (code) by solving one problem at a time.
- [ ] Understand that **there  isn't a unique solution**.
  - We can achieve the same result with different approaches.
  - For example, changing the colors of the points.