<font size="+5">#03 | DataFrame Manipulation & Data Visualization</font>

- Subscribe to my [Blog â†—](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn â†—](www.linkedin.com/in/jsulopz) ðŸ˜„

## Load the Data

In [1]:
import seaborn as sns

df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Make a simple `scatterplot()`

## How many tables were booked each `day`?

### Disecting the Object into Pieces

### Using each piece to properly create a `barplot()`

## `scatterplot()` with 3 variables

> - Add one column to change the color of the points
> - according to the category value `scatterplot(hue=?)`

## `barplot()` with 3 variables

> - Add one column to change the color of the points
> - according to the category value `scatterplot(hue=?)`

### Calculate the numbers with `functions()` of the `DataFrame`

### Create the `barplot()` with the previous `object`

> - Can you access just this column?

> - Why does it gives you an error on `total_bill`?

> - Will it happen the same on `time` and `size`?

> - How can you then access the `values`?

> - And just the values of `size` and `time`?

> - Apply intuition with basic notions of python

> - Could you pass the above lines of `code` to the `parameters`
> - so that it will access the specific information
> - for the `barplot()`

### An easier way

> - We previously made it easier...

> - Why?
> - Because of the `DataFrame` properties
> - You can store the **data** into `multiple` columns
> - I mean, the `DataFrame` is a set of `Series`

> - So, how can we turn this ...

> - Into something like this â†“

![](dfres.png)

> - Can we now make the `barplot()`?

> - Why cannot interpret the `size` if it's a column?

> - Or it really isn't?

> - Remember that we have
> 1. `columns` â†’ (vertical)
> 2. `index` â†’ rows (horizontal)

> - The, how in hell they could reproduce the `barplot`?

> - Because the `size` was a `column`
> - **not an index**

> - [ ] Could we **transform** the `index` to a `column`

> - [ ] Will the `size` be recognisable **as a column** now?

## Recap

### The multindexed `Series`

### The multindexed `DataFrame`

### The reseted index `DataFrame`