# Warning DataFrame

In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset('mpg')

In [11]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [6]:
dfsel = df[['origin', 'mpg']]

In [8]:
import numpy as np

In [10]:
dfsel['tipo coche'] = np.where(dfsel.mpg < 10, 'coche lento', 'coche rapido')

/var/folders/24/tg28vxls25l9mjvqrnh0plc80000gn/T/ipykernel_4927/2442946258.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfsel['tipo coche'] = np.where(dfsel.mpg < 10, 'coche lento', 'coche rapido')

In [12]:
dfsel = df[['origin', 'mpg']].copy()

In [13]:
import numpy as np

In [14]:
dfsel['tipo coche'] = np.where(dfsel.mpg < 10, 'coche lento', 'coche rapido')

In [15]:
dfsel

     origin   mpg    tipo coche
0       usa  18.0  coche rapido
1       usa  15.0  coche rapido
2       usa  18.0  coche rapido
3       usa  16.0  coche rapido
4       usa  17.0  coche rapido
..      ...   ...           ...
393     usa  27.0  coche rapido
394  europe  44.0  coche rapido
395     usa  32.0  coche rapido
396     usa  28.0  coche rapido
397     usa  31.0  coche rapido

[398 rows x 3 columns]

In [16]:
a = ['hola']

In [17]:
a

['hola']

In [18]:
b = a

In [19]:
b

['hola']

In [20]:
b.append('adios')

In [21]:
b

['hola', 'adios']

In [22]:
a

['hola', 'adios']

In [23]:
a = ['hola']

In [24]:
a

['hola']

In [26]:
b = a.copy()

In [27]:
b

['hola']

In [28]:
b.append('adios')

In [29]:
b

['hola', 'adios']

In [30]:
a

['hola']